*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  padding: 100px;
  height: 100vh;
  justify-content: center;
  background-color: #e0e0e0;

  .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .logo {
    width: 250px;
  }
}
